<title>表单组合</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>表单</cite></a>
        <a><cite>表单组合</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">表单组合</div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <label class="layui-form-label">游戏名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">游戏描述</label>
                    <div class="layui-input-block">
                        <textarea name="des" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标签</label>
                    <div class="layui-input-block">
                        <input type="text" name="tag" lay-verify="required" placeholder="逗号分隔" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">版本名</label>
                    <div class="layui-input-block">
                        <input type="text" name="versionName" lay-verify="required" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">版本号</label>
                    <div class="layui-input-block">
                        <input type="number" name="versionCode" lay-verify="required" placeholder="请输入数字，如：1"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">游戏包名</label>
                    <div class="layui-input-block">
                        <input type="text" name="applicationId" lay-verify="required" placeholder="请输入"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">游戏状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="gameState" value="1" title="推荐">
                        <input type="radio" name="gameState" value="2" title="免费" checked="">
                        <input type="radio" name="gameState" value="3" title="vip专享">
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space15">
                        <style>
                            .henping {
                                width: 256px;
                                height: 154px;
                                margin: 0 10px 10px 0;
                            }

                            .shuping {
                                width: 154px;
                                height: 256px;
                                margin: 0 10px 10px 0;
                            }

                            .imglist {
                                height: 256px;
                                margin: 0 10px 10px 0;
                            }
                        </style>
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">游戏图标横屏</div>
                                <div class="layui-card-body">
                                    <div class="layui-upload">
                                        <input id="coverHorizontalUrl" name="coverHorizontalUrl" type="hidden"
                                               value=""/>
                                        <button type="button" class="layui-btn" id="test-upload-normal">上传图片</button>
                                        <div class="layui-upload-list">
                                            <img class="layui-upload-img henping" id="test-upload-normal-img">
                                            <p id="test-upload-demoText">height:768px width:1280px</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">游戏图标竖屏</div>
                                <div class="layui-card-body">
                                    <div class="layui-upload">
                                        <input id="coverVerticalUrl" name="coverVerticalUrl" type="hidden" value=""/>
                                        <button type="button" class="layui-btn" id="test-upload-norma2">上传图片</button>
                                        <!--<button type="button" class="layui-btn" id="test-upload-shupin">开始上传</button>-->
                                        <div class="layui-upload-list">
                                            <img class="layui-upload-img shuping" id="test-upload-norma2-img">
                                            <p id="test-upload-demoText2">height:1280px width:768px</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-fluid">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-card-header">选完文件后不自动上传</div>
                                    <div class="layui-card-body">
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-normal"
                                                    id="test-upload-change">游戏包上传
                                            </button>
                                            <button type="button" class="layui-btn" id="test-upload-change-action">
                                                开始上传
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--多图-->
                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-card-header">详情轮播图片</div>
                                    <input id="imglist" name="detailImages" type="hidden" value=""/>
                                    <div class="layui-card-body">
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn" id="test-upload-more">多图片上传</button>
                                            <input id="file" class="layui-upload-file" type="file" accept="undefined"
                                                   name="file" multiple="">
                                            <blockquote class="layui-elem-quote layui-quote-nm"
                                                        style="margin-top: 10px;">
                                                预览图：
                                                <div class="layui-upload-list" id="test-upload-more-list"></div>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-card-header">指定允许上传的文件类型</div>
                                    <div class="layui-card-body">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <div class="layui-footer">
                                        <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交
                                        </button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var imgArr = new Array();
    layui.use(['admin', 'form', 'laydate', 'upload', 'layer'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , upload = layui.upload
            , form = layui.form;

        form.render(null, 'component-form-group');

        laydate.render({
            elem: '#LAY-component-form-group-date'
        });


        /* 监听指定开关 */
        form.on('switch(component-form-switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });
        //游戏包上传，选完文件后不自动上传
        upload.render({
            elem: '#test-upload-change'
            , url: '/test/upload'
            , accept: 'file' //普通文件
            , exts: 'apk|rar|7z' //只允许上传压缩文件
            , auto: false
            // ,multiple: true

            , bindAction: '#test-upload-change-action'
            , done: function (res) {
                console.log(res)
            }
        });
        /* 监听提交 */
        form.on('submit(component-form-demo1)', function (data) {
            // layer.alert(JSON.stringify(data.field));
            $.ajax({
                url: "/addGame",
                type: 'post',//method请求方式，get或者post
                dataType: 'json',//服务器返回的数据类型
                data: JSON.stringify(data.field),//提交数据 JSON.stringify表单数据转为JSON字符串,。映射或字符串值。规定连同请求发送到服务器的数据。
                contentType: "application/json; charset=utf-8",//设置contentType
                success: function (res) {//res为返回体
                    layer.alert(res, {icon: 1});
                    if (res.ret == 0) {
                        layer.alert('添加信息成功', {icon: 1});
                    } else {
                        layer.alert(res.msg, {icon: 5});
                    }
                },
                error: function () {
                    layer.alert('操作失败！！！', {icon: 5});
                }
            });
        });
    });
    //横屏上传
    // field  后台接收参数名,表格中表示所有的字段
    layui.use(['admin', 'upload'], function () {
        var $ = layui.jquery
            , upload = layui.upload;
        //横屏上传
        var uploadInst = upload.render({
            elem: '#test-upload-normal',
            url: '/test/upload'
            , before: function (obj) {

                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#test-upload-normal-img').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                debugger;
                //上传成功 这里就可以设置表单的数据了
                document.getElementById("coverHorizontalUrl").value = res.data
                console.log(res.data)
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#test-upload-demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });


        //横屏改竖屏
        var uploadInst = upload.render({
            elem: '#test-upload-norma2',
            url: '/test/upload'
            , before: function (obj) {

                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('test-upload-norma2-img').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功 这里就可以设置表单的数据了
                document.getElementById("coverVerticalUrl").value = res.data
                console.log(res.data)
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#test-upload-demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });


        // //竖屏上传
        var uploadInst = upload.render({
            elem: '#test-upload-norma2',
            url: '/test/upload',
            auto: false,
            bindAction: '#test-upload-shupin',
            choose: function (obj) {  //上传前选择回调方法
                obj.preview(function (index, file, result) {
                    debugger;
                    console.log(result);

                    //file表示文件信息，result表示文件src地址
                    var img = new Image();
                    img.src = result;
                    img.onload = function () {

                    }
                    console.log(img.width)
                    console.log(img.height)
                    //初始化夹在完成后获取上传图片宽高，判断限制上传图片的大小。
                    if (img.width == 768 && img.height == 1280) {
                        obj.upload(index, file); //满足条件调用上传方法
                    } else {
                        layer.open({
                            title: '错误信息'
                            , content: '您上传的小图大小必须是1280*768尺寸！'
                        });

                        // layer.close("您上传的小图大小必须是1280*768尺寸！");

                        // console("您上传的小图大小必须是1280*768尺寸！");
                        return false;
                    }
                    console.log("cg")
                    return true;
                });
            },
        //     before: function (obj) {
        //         //预读本地文件示例，不支持ie8
        //         obj.preview(function (index, file, result) {
        //             $('#test-upload-norma2-img').attr('src', result); //图片链接（base64）
        //         });
        //     },
        //     done: function (res) {
        //         // layer.log(1111)
        //         // layer.console(res)
        //         //如果上传失败
        //         if (res.code > 0) {
        //             return layer.msg('上传失败');
        //         }
        //
        //         //上传成功 这里就可以设置表单的数据了
        //         document.getElementById("coverVerticalUrl").value = res.data
        //
        //
        //     }
        //     , error: function () {
        //         //演示失败状态，并实现重传
        //         var demoText = $('#test-upload-demoText');
        //         demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
        //         demoText.find('.demo-reload').on('click', function () {
        //             uploadInst.upload();
        //         });
        //     }
        // });

    //     //竖屏上传
    //     var uploadInst = upload.render({
    //         elem: '#test-upload-norma2',
    //         url: '/test/upload',
    //         auto: false,
    //
    //         choose: function(obj){  //上传前选择回调方法
    //         var flag = true;
    //         obj.preview(function(index, file, result){
    //             console.log(file);            //file表示文件信息，result表示文件src地址
    //             var img = new Image();
    //             img.src = result;
    //             img.onload = function () { //初始化夹在完成后获取上传图片宽高，判断限制上传图片的大小。
    //                 if(img.width ==768 && img.height ==1280){
    //                     obj.upload(index, file); //满足条件调用上传方法
    //                     $('#test-upload-normal-img').attr('src', result); //图片链接（base64）
    //                 }else{
    //                     flag = false;
    //                     layer.msg("您上传的小图大小必须是600*800尺寸！");
    //                     debugger;
    //                     return false;
    //                 }
    //             }
    //             layer.close(index)
    //             return flag;
    //         });
    //     }
    // ,
    //         before: function (obj) {
    //             obj.preview(function (index, file, result) {
    //                 $('#test-upload-normal-img').attr('src', result); //图片链接（base64）
    //             });
    //             console.log(obj)
    //             //预读本地文件示例，不支持ie8
    //             // layer.load();
    //         },
    //
    //         done: function (res) {
    //             // layer.log(1111)
    //             // layer.console(res)
    //             //如果上传失败
    //             if (res.code > 0) {
    //                 return layer.msg('上传失败');
    //             }
    //             debugger;
    //             //上传成功 这里就可以设置表单的数据了
    //
    //             document.getElementById("coverVerticalUrl").value = res.data
    //
    //
    //         }
    //         , error: function () {
    //             //演示失败状态，并实现重传
    //             var demoText = $('#test-upload-demoText');
    //             demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
    //             demoText.find('.demo-reload').on('click', function () {
    //                 uploadInst.upload();
    //             });
    //         }
    //     });






        //指定允许上传的文件类型
        upload.render({
            elem: '#test-upload-type1'
            , url: '/upload/'
            , accept: 'file' //普通文件
            , done: function (res) {
                console.log(res)
            }
        });
        //多图片上传

        upload.render({
            elem: '#test-upload-more'
            , url: '/test/upload/'
            , multiple: true
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#test-upload-more-list').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img imglist">')
                });
            }
            , done: function (res) {
                //上传完毕
                imgArr.push(res.data);
                $("#imglist").val(imgArr)
                console.log(imgArr)
            }
        });

        upload.render({ //允许上传的文件后缀
            elem: '#test-upload-type2'
            , url: '/upload/'
            , accept: 'file' //普通文件
            , exts: 'zip|rar|7z' //只允许上传压缩文件
            , done: function (res) {
                console.log(res)
            }
        });


        //设定文件大小限制
        upload.render({
            elem: '#test-upload-size'
            , url: '/upload/'
            , size: 60 //限制文件大小，单位 KB
            , done: function (res) {
                console.log(res)
            }
        });

        //同时绑定多个元素，并将属性设定在元素上
        upload.render({
            elem: '.test-upload-demoMore'
            , before: function () {
                layer.tips('接口地址：' + this.url, this.item, {tips: 1});
            }
            , done: function (res, index, upload) {
                var item = this.item;
                console.log(item); //获取当前触发上传的元素，layui 2.1.0 新增
            }
        })

    });
</script>
