

  <title>简单用法 - 数据表格</title>

  <div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
      <a lay-href="">主页</a>
      <a><cite>组件</cite></a>
      <a><cite>数据表格</cite></a>
      <a><cite>简单用法</cite></a>
    </div>
  </div>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">简单用法</div>
          <div class="layui-card-body">
            <table class="layui-hide" id="LAY-user-user-list"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
  layui.use(['admin', 'table','form'], function(){
    var table = layui.table;
      form = layui.form,

    table.render({
      elem: '#LAY-user-user-list'
      ,url: './json/table/user.js'
      ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
        // ,method: 'post'

        ,parseData: function(res){
          debugger;
            return {
                "code": res.status,
                "msg": res.msg,
                "count": res.total,
                "data": res.data
            };
        }
      ,cols: [[
        {field:'id', width:80, title: 'ID', sort: true}
        ,{field:'name', width:80, title: '游戏名'}
        ,{field:'coverHorizontalUrl', width:80, title: '性别', sort: true}
        ,{field:'coverVerticalUrl', width:80, title: '城市'}
        ,{field:'gameState', title: '签名', width: '30%', minWidth: 100} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
        ,{field:'des', title: '积分', sort: true}
        ,{field:'downNum', title: '评分', sort: true}
        ,{field:'fileSize', title: '职业'}
        ,{field:'tag', width:137, title: '财富', sort: true}
            ,{field:'versionName', width:137, title: '财富', sort: true}
            ,{field:'versionCod', width:137, title: '财富', sort: true}
            ,{field:'applicationId', width:137, title: '财富', sort: true}
            ,{field:'startPackage', width:137, title: '财富', sort: true}
            ,{field:'isdel', width:137, title: '财富', sort: true}
            ,{field:'detailimages', width:137, title: '财富', sort: true}
      ]]
    });
      //监听搜索
      form.on('submit(LAY-app-contlist-search)', function (data) {
          var field = data.field;

          //执行重载
          table.reload('LAY-file-file-view', {
              where: field
          });
      });
  });
  </script>
